.piechart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 34px auto;
}
.circular-progress {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 65%;
  width: 65%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
